* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    font-family: poppins;
    height: 100%;
}

header {
    background-color: rgb(245, 94, 94);
    color: white;
    padding: 10px;
}

body{
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    height: 300px;
    width: 300px;
    margin-top: 20px;
}

.inputs{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 94, 94);
    color: white;
    height: 80px;
}